capstone==4.0.2
unicorn==2.0.1
pefile==2023.2.7
uncompyle6==3.9.0
frida==16.1.4
yara-python==4.3.1
psutil==5.9.5
rich==13.5.2
PyQt6==6.5.2
lief==0.13.2
cryptography==41.0.4
hexdump==3.3
pywin32==306; sys_platform == "win32"
pydbg==0.1.0
decompyle3==3.9.1
pycryptodome==3.18.0
colorama==0.4.6
tqdm==4.66.1
pyyaml==6.0.1
requests==2.31.0 